h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Gideon Roman', cursive; */
  font-family: 'Playfair Display SC', serif;
}

p,
li,
a {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
}
a {
  font-weight: 700;
}
